.Header {
    position: relative;
    z-index: 10; 
    height: 60px;

    &-Inner {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        background: var(--color-white);
    }

    &-Container {
        width: 100%;
    }

    &-Logo {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-h3);

        @media (--md-down) {
            font-size: var(--font-size-h3-md);
        }
    }

    &-LogoLink {
        color: var(--color-black);

        &:hover {
            color: color(--color-blue);
        }
    }
}