.Header {
    position: relative;
    z-index: 10; 
    height: 60px;

    &-Wrapper {
        position: fixed;
        width: 100%;
        height: 60px;
        background: var(--color-white);
        box-shadow: var(--box-shadow);
    }

    &-Inner {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        height: 60px;
        padding: 20px 0;
    }

    &-Logo {
        font-size: var(--font-size-h3);

        @media (--md-down) {
            font-size: var(--font-size-h3-md);
        }
}

    &-LogoLink {
        color: var(--color-black);

        &:hover {
            color: color(--color-blue);
        }
    }
}