.Link {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: var(--color-blue);
    text-decoration: none;
    background: none;
    border: none;
    transition: color 0.25s ease-in-out;

    &:hover {
        color: var(--color-bluelight);
    }
}