.Button {
    position: relative;
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    font-weight: var(--font-weight-bold);
    font-size: inherit;
    line-height: 40px;
    font-family: inherit;
    vertical-align: baseline;
    text-align: center;
    color: var(--color-white); 
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: var(--color-black);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background 0.25s ease-in-out;
    -webkit-appearance: none;
}