.Layout {
    background: var(--color-gray);

    &-Body {
        padding: 20px 0;
    }

    &-Auth {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &-Nav {
        margin: 0 0 10px;
    }
}
