.Profile {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;

    &-Photo {
        width: 96px;
        height: 96px;
        margin: 0 20px 0 0;
        border-radius: var(--border-radius);
    }

    &-Table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    &-Row {
        &:last-child {
            .Profile-Cell {
                padding-bottom: 0;
            }
        }
    }

    &-Cell {
        padding: 0 10px 9px 0;

        &:nth-child(2) {
            padding: 0 0 9px;
            font-weight: var(--font-weight-bold);
        }
    }
}
