.input-text {
    &.is-error {
        .input-text__input {
            color: var(--color-red);
        }

        .error-message {
            padding-top: 5px;
        }
    }

    &__header {
        padding: 0 0 5px;
    }

    &__inner {
        position: relative;
    }

    &__input {	
        width: 100%;
        height: 40px;	
        padding: 0 15px;
        font-size: inherit;
        line-height: 40px;
        font-family: inherit;	
        background-color: var(--color-white);
        border: 1px solid var(--color-gray);	
        border-radius: var(--border-radius);
        transition: border 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
        -webkit-appearance: none;

        &:focus {
            outline: none;
        }

        &::-ms-clear,
        &::-ms-reveal {
            display: none;
        }

        &::placeholder {
            color: var(--color-graymiddle);
        }
    }

    textarea {
        display: block;
        height: 170px;
        min-height: 170px;
        max-height: 170px;
        overflow-y: hidden;
        resize: none;
    }
}