.Container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;

    @media (--md-down) {
        padding-right: 20px;
        padding-left: 20px;
    }

    @media (--xs-down) {
        padding-right: 15px;
        padding-left: 15px;
    }
}
