@custom-media --lg-down (max-width: 1279px);
@custom-media --md-down (max-width: 1023px);
@custom-media --xs-down (max-width: 767px);

@custom-media --xl-up (min-width: 1280px);
@custom-media --lg-up (min-width: 1024px);
@custom-media --md-up (min-width: 768px);
@custom-media --xs-up (min-width: 0px);
