body {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-family: var(--font-family);
    color: var(--color-black);
    background: var(--color-gray);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0 0 20px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
}

h1,
.h1 {
    font-size: var(--font-size-h1);

    @media (--md-down) {
        font-size: var(--font-size-h1-md);
    }
}

h2,
.h2 {
    font-size: var(--font-size-h2);

    @media (--md-down) {
        font-size: var(--font-size-h2-md);
    }
}

h3,
.h3 {
    font-size: var(--font-size-h3);

    @media (--md-down) {
        font-size: var(--font-size-h3-md);
    }
}

h4,
.h4 {
    font-size: var(--font-size-h4);

    @media (--md-down) {
        font-size: var(--font-size-h4-md);
    }
}

h5,
.h5 {
    font-size: var(--font-size-h5);

    @media (--md-down) {
        font-size: var(--font-size-h5-md);
    }
}

h6,
.h6 {
    font-size: var(--font-size-h6);

    @media (--md-down) {
        font-size: var(--font-size-h6-md);
    }
}

p {
    margin: 0 0 20px;

    @media (--md-down) {
        margin: 0 0 15px;
    }
}
