.Sort {
    display: inline-flex;
    width: 100%;
    margin: 10px 0;

    &-Label {
        margin: 0 10px 0 0;
    }

    &-List {
        display: flex;
    }

    &-Item {
        margin: 0 10px 0 0;
    }
}
