.Miniform {
    display: flex;
    padding: 10px 0;

    @media (--xs-down) {
        flex-direction: column;
    }

    &-Field {
        flex-grow: 1;
        margin: 0 15px 0 0;

        @media (--xs-down) {
            flex-grow: 0;
            width: 100%;
            margin: 0 0 15px;
        }
    }

    .Button {
        @media (--xs-down) {
            width: 100%;
        }
    }
}
