.Post {
    position: relative;

    &-Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 15px;
    }

    &-PhotoWrapper {
        width: 50px;
        max-width: 50px;
        height: auto;
    }

    &-Photo {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    &-Info {
        width: calc(100% - 70px);
        max-width: calc(100% - 70px);
    }

    &-Name {
        margin: 0;
    }

    &-Date {
        font-size: var(--font-size-xs);
        color: var(--color-graydark);
    }

    &-Body {
        margin: 0 0 15px;
    }

    &-Text {
        margin: 0;
        word-wrap: break-word;
    }
    
    &-Footer {
        border-top: 1px solid var(--color-gray);
        padding-top: 15px;
    }
}