.Post {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 10px 0;

    &-Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 10px;
        text-decoration: none;
        color: inherit;
    }

    &-PhotoWrapper {
        width: 30px;
        max-width: 30px;
        height: auto;
    }

    &-Photo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    &-Info {
        width: calc(100% - 40px);
        max-width: calc(100% - 40px);
    }

    &-Name {
        margin: 0;
    }

    &-Date {
        font-size: var(--font-size-xs);
        color: var(--color-graydark);
    }

    &-Body {
        margin: 0 0 10px;
    }

    &-Text {
        margin: 0;
        word-wrap: break-word;
    }

    &-Footer {
        display: flex;
    }

    &-FooterItem {
        margin-right: 20px;

        &:last-child {
            margin: 0;
        }
    }
}
