.Post {
    display: flex;
    justify-content: space-between;

    &-PhotoWrapper {
        width: 50px;
        max-width: 50px;
        height: auto;
    }

    &-Info {
        width: calc(100% - 70px);
        max-width: calc(100% - 70px);
    }

    &-Header {
        margin: 0 0 10px;
    }

    &-Name {
        margin: 0;
    }

    &-Date {
        font-size: var(--font-size-xs);
        color: var(--color-graydark);
    }

    &-Text {
        margin: 0;
    }
}